<div>
  <h2 id="page-heading" data-cy="TickStockHeading">
    <span>Tick Stocks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tick-stock"
        [routerLink]="['/tick-stock/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Tick Stock</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (tickStocks?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Tick Stocks found</span>
    </div>
  }

  @if (tickStocks && tickStocks.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="instrumentKey">
              <div class="d-flex">
                <span>Instrument Key</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="exchangeToken">
              <div class="d-flex">
                <span>Exchange Token</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tradingSymbol">
              <div class="d-flex">
                <span>Trading Symbol</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastPrice">
              <div class="d-flex">
                <span>Last Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expiry">
              <div class="d-flex">
                <span>Expiry</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="strike">
              <div class="d-flex">
                <span>Strike</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tickSize">
              <div class="d-flex">
                <span>Tick Size</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lotSize">
              <div class="d-flex">
                <span>Lot Size</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="instrumentType">
              <div class="d-flex">
                <span>Instrument Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="optionType">
              <div class="d-flex">
                <span>Option Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="exchange">
              <div class="d-flex">
                <span>Exchange</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (tickStock of tickStocks; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tick-stock', tickStock.id, 'view']">{{ tickStock.id }}</a>
              </td>
              <td>{{ tickStock.instrumentKey }}</td>
              <td>{{ tickStock.exchangeToken }}</td>
              <td>{{ tickStock.tradingSymbol }}</td>
              <td>{{ tickStock.name }}</td>
              <td>{{ tickStock.lastPrice }}</td>
              <td>{{ tickStock.expiry }}</td>
              <td>{{ tickStock.strike }}</td>
              <td>{{ tickStock.tickSize }}</td>
              <td>{{ tickStock.lotSize }}</td>
              <td>{{ tickStock.instrumentType }}</td>
              <td>{{ tickStock.optionType }}</td>
              <td>{{ tickStock.exchange }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/tick-stock', tickStock.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/tick-stock', tickStock.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(tickStock)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (tickStocks && tickStocks.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
